[connection]
channels = #channel1 #channel2
server = irc.server
port = 6667
nick = thebot

[users]
admins = admin1:password1 admin2:password2

[plugins.forecast]
lastforecast = 0
channels = #channel1 #channel2

[plugins.twitter_reader]
lasttwittercheck = 0
lasttwitterstatustime = 0
channels = #channel1 #channel2

[plugins.title]
apikey = login=username&apiKey=apikey

[plugins.temp]
apikey = hej
